<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
  <img src="/assets/site-title.png" />
  <h1>Nataliia Hrudinina</h1>
</div>
<div class="content">
  <div class="info">Site is on reconstruction...</div>
  <div class="info">You can find my work in social networks</div>
  <div class="social_icons">
    <a href="https://www.facebook.com/nataliiahrudinina" target="_blanc">
      <img src="/assets/fb_icon.png" />
    </a>
    <a href="https://www.instagram.com/nataliia_hrudinina" target="_blanc">
      <img src="/assets/instagram_icon.png" />
    </a>
    <a href="https://www.behance.net/nataliiahrudinina" target="_blanc">
      <img src="/assets/behance_icon.png" />
    </a>
  </div>
</div>